/*==================== FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.ttc');
}

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 90px;

    /*========== Colors ==========*/
    --main-color: rgb(48, 72, 60);
    --main-color-alt: rgb(216, 225, 160);
    --secondary-color: rgb(206, 224, 159);
    --text-color: rgb(65, 61, 75);

    /*========== Font and typography ==========*/
    --body-font: 'Montserrat', sans-serif;
    --heading-font: 'Optima';

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --h1-font-size: 2.9075rem;
    --h2-font-size: 1.375rem;
    --h3-font-size: 1.125rem;
    --btn-font-size: 1rem;
    --text-font-size: 1rem;
}


/*==================== BASE ====================*/
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body{
    margin: 0;
    padding: 0;
    padding-top: var(--header-height);
    font-family: var(--body-font);
    position: relative;
    font-size: 16px;
    overflow-x: hidden;
}

section{
    width: 100%;
    padding: 4rem 1rem;
    margin: 0;
    height: fit-content;
    position: relative;
}

/* .section:target {
    padding-top: calc(var(--header-height) + 4rem);
} */

h2{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
    font-weight: bold;
    width: fit-content;
    margin: 0 0 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 0.5;
    position: relative;
}

h2:before,
h2:after {
content: "";
position: absolute;
height: 5px;
border-bottom: 1px solid var(--main-color);
border-top: 1px solid var(--main-color);
top: 0;
width: 50px;
}
h2:before {
right: 100%;
margin-right: 15px;
}
h2:after {
left: 100%;
margin-left: 15px;
}

h3{
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
    letter-spacing: 3px;
    text-transform: capitalize;
}

p{
    font-size: var(--text-font-size);
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6;
    padding: 0 1rem;
    font-family: var(--body-font);
}

 a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input{
    background: transparent;
    padding: 0.5rem;
    box-shadow: none;
    outline: none;
    border: 1px solid #a3ada8;
    font-size: .875rem;
    font-weight: 300px;
    color: #a3ada8;
}

input::placeholder{
    font-size: .875rem;
    font-weight: 300px;
    color: #a3ada8;
    max-width: 100%;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.flex{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    gap: 1.5rem;
}


/*==================== NAV ====================*/
nav{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: .5rem;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 30;
    transition: .4s;
    box-shadow: none;
}
html:not([data-scroll='0']) nav{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

nav .container{
    justify-content: space-between;
}

nav img{
    width: 170px;
    height: 70px;
    margin: 0;
    padding: 0;
}


#menu{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background: #fff;
    transition: all .4s ease-in-out;
    z-index: 9;
}

@media (max-width: 953px){
    #menu{
        position: fixed;
        top: var(--header-height);
        left: 0;
        height: 0;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        transition: all .4s ease-in-out;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    }

    #menu.active{
        height: calc(100vh - var(--header-height));
    }
}

@media (max-width: 767px){
    #menu{
        top: 82px;
    }

    #menu.active{
        height: calc(100vh -82px);
    }
}



nav .toggle{
    width: 2.5rem;
    margin-inline-end: 1rem;
    display: none;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav .toggle::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(5px);
    background-color: var(--main-color);
    transition: .4s;
}

nav .toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}

nav .toggle::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(-5px);
    background-color: var(--main-color);
    transition: .4s;
}

nav .toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

@media (max-width: 953px){
    nav .toggle{
        display: flex;
    }
}

#menu li{
    margin: 0 .5rem ;
    padding: 0;
}

#menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: .5rem 0;
}

#menu li a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: .4s;
}

#menu li a:hover,
#menu li a.active{
    color: var(--secondary-color);
}

#menu li a:hover::after,
#menu li a.active::after{
    left: 0;
    background-color: var(--secondary-color);
}


/*==================== HOME ====================*/
#home{
    height: calc(100vh - var(--header-height));
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/hero-bg.png'); */
    background-repeat:   no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    position: relative;
    /* top: var(--header-height); */
}

@media (max-width: 400px) {
    #home{
        padding: 0 .5rem ;
        font-size: 14px;
    }
}

#home .container{
    height: 100%;
    justify-content: center;
    align-items: center;
}

#home .hero-slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home .hero-slider .swiper-slide{
    position: relative;
}

#home .hero-slider .swiper-slide::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .4; //change overlay opacity
    z-index: 3;
} 

#home .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    z-index: 3;
}

#home .content h1{
    font-size: var(--h1-font-size);
    font-family: var(--heading-font);
    font-weight: bold;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}
@media (max-width: 480px) {
    #home .content h1{
        font-size: 2.25rem;
    }
}

#home .content h1::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 1px;
    background-color: #cdd79a;
    margin-top: 1.5rem;
}

#home .content p{
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
    width: 90%;
    margin: 0 auto 2rem;
}

/*==================== BUTTONS ====================*/
.btn{
    color: #fff;
    font-size: 1rem;
    padding: var(--text-font-size) 2rem;
    border: 1px solid #fff;
    font-family: var(--body-font) ;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    z-index: 2;
    box-shadow: none;
    outline: none;
    transition: .4s;
}

.btn::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--main-color);
    border-radius: .5rem;
    margin: 0;
    padding: 0;
    transition: .4s;
    z-index: -1;
}

.btn:hover{
    border-color: var(--secondary-color);
}

.btn:hover:before{
    width: 100%;
    height: 100%;
}

/*==================== ABOUT ====================*/
#about{
    background-color: var(--main-color-alt);
}
#about .container{
    justify-content: center;
    align-items: center;
}

@media (max-width: 573px) {
    #about .container{
        flex-direction: column;
    }
}

#about .container .left{
    width: fit-content;
}

#about .container .left img{
    width: 230px;
    height: 230px;
}

#about .container .right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 573px) {
    #about .container .right{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#about .container .right h2::after,
#about .container .right h2::before{
    display: none;
}

#about p{
    padding-left: 0;
    margin-bottom: 2rem;
}

#about .btn{
    color: var(--main-color);
    border-color: var(--main-color);
    width: fit-content;
}

/*==================== Features ====================*/
#features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

#features .container{
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    justify-content: center;
}

#features  h2{
    margin-bottom: 4rem;
}

#features .feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#features .feature img{
    width: 50px;
    height: 50px;
}

#features .feature h3{
    margin-bottom: 0;
    color: var(--text-color);
}

#features .feature p{
    font-size: .875rem;
    text-align: center;
}

/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/
#services{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    /* background-image: linear-gradient(rgba(48, 72, 60,0.6),rgba(48, 72, 60,0.6)), url('../img/PUT\ YOUR\ IMAGE\ HERE-2.png'); */
}
#services .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #services .service {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: .4s;
    position: relative;
    height: fit-content;
    /* min-height: 300px; */
  }
  #services .service::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: .4s;
  }
  #services .service:hover {
    transform: translateY(-10px);
  }
  #services .service:hover::before {
    width: 100%;
  }

  #services .service a{
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  #services .service .content{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 1rem;
  }

  #services .service  img{
    width: 135px;
    height: 90px;
    display: block;
    text-align: center;
  }

  #services .service h3{
      text-align: center;
      font-size: .875rem;
      color: var(--main-color);
  }

  #services .service .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
  }
  #services .service .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }
  #services .service .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
  }
  #services .service .info span {
    color: var(--main-color);
  }

/*==================== WORKS ====================*/
#works{
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 1rem;
    background-color: #f9f9f9;
    height: calc(100vh - var(--header-height));
    /* min-height: 300px; */
}

#works  h2{
    width: fit-content;
    align-self: center;
}

#works .gallery{
    width: 100%;
    position: relative;
    /* height: fit-content; */
}

.swiper-slide {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 300px;
  }

/* .swiper-slide::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .2;
    z-index: 1;
} */

  .swiper-slide img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 300px;
  }

  .swiper-slide .content{
      z-index: 3;
      color: #f9f9f9;
      margin: 0 0 4rem 4rem ;
      font-family: var(--heading-font);
      font-weight: bold;
      letter-spacing: 3px;
  }


.swiper-button-next, .swiper-button-prev{
    color: var(--main-color-alt);
}

.swiper-pagination-bullet-active{
    background: var(--main-color-alt) ;
}

  @media (max-width: 480px) {
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
  }


/*==================== TEAM ====================*/
  #team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #team .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #team .member {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform .4s, box-shadow .4s;
    flex-shrink: 0;
    flex-basis: 250px;
    min-height: 375px;
  }
  #team .member:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  }
  #team .member img {
    width: 100%;
    max-width: 100%;
  }
  #team .member .title {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #team .member .title h3 {
    margin: 0;
  }
  #team .member .title p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
  }


/*==================== AREA OF INTEREST ====================*/
.area{
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0,.6)), url('../img/africa.jpg');
    background-repeat:   no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.area h2{
    color: #fff;
    font-size: 5rem;
    opacity: .4;
    text-align: center;
}

.area h2::after,
.area h2::before{
    display: none;
}


/*==================== PARTNER ====================*/
#partners{
    display: flex;
    flex-direction: column ;
    background-color: #ececec;
}

#partners  h2{
    width: fit-content;
    align-self: center;
}

#partners .container{
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

#partners a{
    width: fit-content;
}

#partners a img{
    width: 150px;
    height: 100px;
    filter: grayscale();
    transition: .4s;
}

#partners a:hover img{
    filter: none;
    transform: scale(1.1);
}

/*==================== FOOTER ====================*/
.footer{
    position: relative;
    height: fit-content;
    background-color: var(--main-color);
    padding: 4rem 1rem 1rem;
}

.footer .container{
    grid-template-columns: repeat(auto-fill,minmax(370px, 1fr));
}


.footer h3{
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    font-family: var(--heading-font);
    letter-spacing: 3px;
}

.footer .col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
}

.footer .col .contact-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: .75rem;
}

.footer .col .contact-item img{
    width: 20px;
    height: 20px;
}

.footer .col .contact-item span{
    color: #fff;
    font-weight: 300;
    font-size: .875rem;
    flex: 1;
}

.footer .col .social-media{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: flex-start;
    padding-left: 0;
    margin: 0;
}

.footer .col .social-media li a{
    display: inline-flex;
    transition: .8s;  
}

.footer .col .social-media li a:hover{
    transform: rotate(360deg); 
}

.footer .copyrights{
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 4rem;
    padding-left: 0;
}

.footer .copyrights .policy-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
    gap: .5rem;
}

.footer .copyrights .policy-links a{
    color: #fff;
    display: inline-flex;
    font-size: .875rem;
    transition: .4s;
}

.footer .copyrights .policy-links a:hover{
    color: #cdd79a;
}
/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/



/*========== SERVICE PAGE STYLE ==========*/

/*==================== SERVICE GALLERY ====================*/
#service-gallery{
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    /* padding-bottom: 0; */
    background-color: #f9f9f9;
}

#service-gallery .container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
}

#service-gallery .service-text{
    width: fit-content;
    max-width: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 945px) {
    #service-gallery .service-text   {
        order: 2;
        max-width: 600px;
    }
}

#service-gallery .service-text  h2{
    width: fit-content;
    align-self: center;
}

#service-gallery .service-text ul{
    padding-left: 1rem;
    list-style-type: disc;
}

#service-gallery .service-text ul li{
    font-size: 1rem;
    color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
    margin-bottom: .5rem;
}

#service-gallery .gallery{
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    position: relative;
    border-radius: 1rem;
    
}

@media (max-width: 998px) {
    #service-gallery .gallery{
        order: 1
    }
}

#service-gallery .gallery .swiper-wrapper{
    border-radius: 1rem;
    /* box-shadow: 0 22px 20px 10px rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 13%); */
}

#service-gallery .gallery .swiper-slide {
    width: 100%;
    height: 450px;  
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 1rem;
  }

  /* #service-gallery .gallery .swiper-slide::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .6;
    z-index: 1;
} */

#service-gallery .gallery .swiper-slide img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 1rem;
    /* min-width: 300px; */
  }

  #service-gallery .gallery .swiper-slide .content{
      color: #f9f9f9;
  }

#service-gallery .gallery .swiper-button-next, .swiper-button-prev{
    color: var(--main-color-alt);
}

#service-gallery .gallery .swiper-pagination-bullet-active{
    background: var(--main-color-alt) ;
}

  @media (max-width: 480px) {
    #service-gallery .gallery .swiper-button-next, .swiper-button-prev{
        display: none;
    }
  }
