/*==================== FONTS ====================*/
/* @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.ttc');
}

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 83.17px;

    /*========== Colors ==========*/
    --main-color: rgb(48, 72, 60);
    --main-color-alt: rgb(216, 225, 160);
    --secondary-color: rgb(206, 224, 159);
    --text-color: rgb(65, 61, 75);

    /*========== Font and typography ==========*/
    --body-font: 'Montserrat', sans-serif;
    --heading-font: 'Optima';

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --h1-font-size: 2.9075rem;
    --h2-font-size: 1.375rem;
    --h3-font-size: 1.125rem;
    --btn-font-size: 1rem;
    --text-font-size: 1rem;
}


/*==================== BASE ====================*/
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    position: relative;
    font-size: 16px;
    overflow-x: hidden;
}

section{
    width: 100%;
    padding: 6rem 1rem 3rem;
    margin: 0;
    height: fit-content;
    position: relative;
    top: var(--header-height);
}

h2{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
    font-weight: bold;
    width: fit-content;
    margin: 0 0 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--main-color);
}

h3{
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
    letter-spacing: 3px;
    text-transform: capitalize;
}

p{
    font-size: var(--text-font-size);
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6;
    padding: 0 1rem;
    font-family: var(--body-font);
}

 a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.flex{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/*==================== LAYOUT ====================*/


/*==================== NAV ====================*/
nav{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: .5rem;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: .4s;
    box-shadow: none;
}
html:not([data-scroll='0']) nav{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

nav .container{
    justify-content: space-between;
}

nav img{
    width: 170px;
    margin: 0;
    padding: 0;
}


#menu{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background: #fff;
    transition: all .4s ease-in-out;
    z-index: 9;
}

@media (max-width: 953px){
    #menu{
        position: fixed;
        top: var(--header-height);
        left: 0;
        height: 0;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        transition: all .4s ease-in-out;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    }

    #menu.active{
        height: calc(100vh - var(--header-height));
    }
}

@media (max-width: 767px){
    #menu{
        top: 82px;
    }

    #menu.active{
        height: calc(100vh -82px);
    }
}



nav .toggle{
    width: 2.5rem;
    margin-inline-end: 1rem;
    display: none;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav .toggle::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(5px);
    background-color: var(--main-color);
    transition: .4s;
}

nav .toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}

nav .toggle::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(-5px);
    background-color: var(--main-color);
    transition: .4s;
}

nav .toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

@media (max-width: 953px){
    nav .toggle{
        display: flex;
    }
}

#menu li{
    margin: 0 .5rem ;
    padding: 0;
}

#menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: .5rem 0;
}

#menu li a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: .4s;
}

#menu li a:hover,
#menu li a.active{
    color: var(--secondary-color);
}

#menu li a:hover::after,
#menu li a.active::after{
    left: 0;
    background-color: var(--secondary-color);
}


/*==================== HOME ====================*/
#home{
    height: calc(100vh - var(--header-height));
    /* height: 100vh; */
    width: 100%;
    /* background-image: linear-gradient(rgba(48,72,60,0.7),rgba(48,72,60,0.7)), url('../img/hero-bg.png'); */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/hero-bg.png');
    background-repeat:   no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
    position: relative;
    top: var(--header-height);
}

@media (max-width: 400px) {
    #home{
        padding: 0 .5rem ;
        font-size: 14px;
    }
}

#home .container{
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

#home .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#home .content h1{
    font-size: var(--h1-font-size);
    font-family: var(--heading-font);
    font-weight: bold;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}
@media (max-width: 480px) {
    #home .content h1{
        font-size: 2.25rem;
    }
}

#home .content h1::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 1px;
    background-color: #cdd79a;
    margin-top: 1.5rem;
}

#home .content p{
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
    width: 90%;
    margin: 0 auto 2rem;
}

/*==================== BUTTONS ====================*/
.btn{
    color: #fff;
    font-size: 1rem;
    padding: var(--text-font-size) 2rem;
    border: 1px solid #fff;
    font-family: var(--body-font) ;
    font-weight: 300;
}

/*==================== ABOUT ====================*/
#about{
    background-color: var(--main-color-alt);
}
#about .container{
    justify-content: center;
    align-items: center;
}

@media (max-width: 573px) {
    #about .container{
        flex-direction: column;
    }
}

#about .container .left{
    width: fit-content;
}

#about .container .left img{
    width: 230px;
}

#about .container .right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 573px) {
    #about .container .right{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#about p{
    padding-left: 0;
    margin-bottom: 2rem;
}

#about .btn{
    color: var(--main-color);
    border-color: var(--main-color);
    width: fit-content;
}

/*==================== Features ====================*/
#features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

#features .container{
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    justify-content: center;
}

#features  h2{
    margin-bottom: 4rem;
}

#features .feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#features .feature img{
    width: 50px;
}

#features .feature h3{
    margin-bottom: 0;
    color: var(--text-color);
}

#features .feature p{
    font-size: .875rem;
    text-align: center;
}

/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/
#services{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    /* background-image: linear-gradient(rgba(48, 72, 60,0.6),rgba(48, 72, 60,0.6)), url('../img/PUT\ YOUR\ IMAGE\ HERE-2.png'); */
}
#services .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #services .service {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: .4s;
    position: relative;
    height: fit-content;
  }
  #services .service::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: .4s;
  }
  #services .service:hover {
    transform: translateY(-10px);
  }
  #services .service:hover::before {
    width: 100%;
  }

  #services .service .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 1rem;
  }

  #services .service  img{
    width: 100px;
    display: block;
    text-align: center;
  }

  #services .service h3{
      text-align: center;
      font-size: .875rem;
      color: var(--main-color);
  }

  #services .service .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
  }
  #services .service .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }
  #services .service .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
  }
  #services .service .info span {
    color: var(--main-color);
  }

/*==================== WORKS ====================*/
#works{
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
#works .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#works .header h2{
    margin: 0;
}

#works .gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 0;
}

#works .gallery .img-holder{
    height: 300px;
    padding: 0;
    overflow: hidden;
}
#works .gallery img{
    height: 100%;
    width: 100%;
    margin: 0;
    transform: scale(1) rotate(0);
    transition: .4s;
}

#works .gallery img:hover{
    transform: scale(1.1) rotate(5deg);
}

/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */